.table1,th{
    width: 700px;
    text-align: center; 
    border: 2px solid black;
   border-collapse: collapse;
}
td{
    border-right: 1px solid black;
   padding: 5px;
}
.table2{
    width: 700px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
body{
    margin-top: 50px;
    margin-left: 250px;
}